/* ROOT */

:root {
    --headerHeight: 90px;
    --footerHeight: 90px;
    --navBarWidth: 250px;
}

/* HEADER */
header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    width: calc(100% - var(--navBarWidth));
    right: 0;
    text-align: right;
}
    /* HEADER BUTTON */
    .headerButton {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 30px;
        border-width: 1px;
        border-color: white;
        border-style: solid;
        padding: 1rem 2rem;
    }

    .headerButton a {
        color: white;
        text-decoration: none;
    }

/* MAIN */
main {
    height: calc(100vh - var(--footerHeight) );
    background-color: rgb(21, 25, 34);
    display: flex;
}

/* SIDEBAR */
.sideBar {
    width: var(--navBarWidth);
    background-color: black;
    height: calc(100vh - var(--footerHeight));
}

    /* LOGO */
    .logoBox {
        height: var(--headerHeight);
        box-sizing: border-box;
        line-height: var(--headerHeight);
    }
    
    .logoBg {
        padding: 20px 50px 20px 20px
    }

    .logoXs {
        display: none;
        padding: 10px 20px;
    }

    /* NAV LIST */
    .navItem {
        display: flex;
        margin-left: 30px;
        align-items: center;
    }
    .navImg {
        height: 100%;
        width: 30px;
    }
    .navText {
        margin-left: 10px;
        color: white;
    }

/* SIDEBAR SMALL */
@media screen and (max-width: 768px) {
	:root {
		--navBarWidth: 100px;
	}

    .logoBox {
        height: var(--navBarWidth);
    }

    .logoBg {
        display: none;
    }

    .logoXs {
        display: block;
    }

    .navItem {
        margin: 5px 0;
        padding: 5px 25px;

    }
    .navImg {
        width: 100%;
    }
    .navText {
        display: none;
    }
}

/* USER VIEW */
.userView {
    margin-top: var(--headerHeight);
    width: calc(100% - var(--navBarWidth));
}
    

/* FOOTER */
footer {
    height: var(--footerHeight);
    background-color: rgb(40, 40, 40);
}