/* ROOT */

:root {
    /* COLORS */
    --textColor: white;
    --activeBorderColor: rgb(176, 255, 44);
    /* SIZES */
    --headerHeight: 90px;
    --footerHeight: 90px;
    --navBarWidth: 250px;
}

/* HEADER */
header {
    position: fixed;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    width: calc(100% - var(--navBarWidth));
    right: 0;
    text-align: right;
}
    /* HEADER BUTTON */
    .headerButton {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 30px;
        border-width: 1px;
        border-color: white;
        border-style: solid;
        padding: 1rem 2rem;
    }

/* MAIN */
main {
    height: calc(100vh - var(--footerHeight) );
    background-color: rgb(21, 25, 34);
    display: flex;
}

/* USER VIEW */

.userView {
    overflow: auto;
    padding-top: var(--headerHeight);
    width: calc(100% - var(--navBarWidth));
}

.userViewNav {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.userViewNav a {
    opacity: 50%;
}

.userViewNav a:hover {
    opacity: 100%;
}

.userViewNav .selected {
    border-bottom: 2px solid var(--activeBorderColor);
}

.userView section {
    margin: 30px 20px;
}

.albumContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}
.album {
    max-width: calc(90% / 6);
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.coverContainer {
    position: relative
}

.album img {
    width: 100%;
}

.album h3 {
    font-weight: bold;
}

.album h4 {
    opacity: 60%;
    font-weight: 400;
}

.subtitle {
    opacity: 50%;
    margin-bottom: 20px;
}

.artists .album img {
    border-radius: 50%;
}

.album .coverContainer:hover img {
    filter: brightness(50%);
}


.hoverPlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    display: none;
}

.album .coverContainer:hover .hoverPlay {
    display: block;
}


/* SIDEBAR */
.sideBar {
    width: var(--navBarWidth);
    background-color: black;
    height: calc(100vh - var(--footerHeight));
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sideBar::-webkit-scrollbar,
.userView::-webkit-scrollbar {
    display: none;
}

    /* LOGO */
    .logoBox {
        height: var(--headerHeight);
        box-sizing: border-box;
        line-height: var(--headerHeight);
    }
    
    .logoBg {
        padding: 20px 80px 20px 30px
    }

    .logoXs {
        display: none;
        padding: 10px 20px;
    }

    /* NAV LIST */
    .navItem {
        display: flex;
        padding-left: 30px;
        margin-bottom: 5px;
        align-items: center;
        opacity: 50%;
    }
    .navItem.active {
        opacity: 90%;
        border-left: 3px solid var(--activeBorderColor);
    }

    .navItem:hover {
        opacity: 100%;
    }

    .navImg {
        height: 100%;
        width: 30px;
    }

    .navText {
        margin-left: 10px;
        color: var(--textColor);
    }

    .playlist {
        padding-left: 30px;
    }

    .playlist .title h3{
        font-weight: bolder;
    }

    .playlistItem {
        opacity: 50%;
        display: flex;
        align-items: center;
    }

    .playlistItem:hover {
        opacity: 100%;
    }

    .playlistItem i {
        font-size: 1.5rem;
        color: black;
        background-color: white;
        margin: 10px 10px 10px 0;
        padding: 10px;
    }


    /* SIDEBAR SMALL */
    @media screen and (max-width: 500px) {
        :root {
            --navBarWidth: 60px;
        }

        .logoBox {
            height: var(--navBarWidth);
        }

        .logoBg {
            display: none;
        }

        .logoXs {
            display: block;
            padding: 10px 10px;
        }

        .navItem {
            margin: 5px 0;
            padding: 5px 10px;

        }
        .navImg {
            width: 100%;
        }
        .navText {
            display: none;
        }

        .playlist {
            display: none;
        }

        .navFooter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }

        .installApp a {
            display: none;
        }

        hr {
            display: none;
        }

        .userID {
            display: none;
        }
    }

    /* NAV FOOTER */
    .navFooter {
        padding: 30px 30px 10px 30px;
    }

    .installApp {
        opacity: 50%;
        display: flex;
        align-items: center;
    }

    .installApp i {
        margin-right: 10px;
    }

    .installApp:hover {
        opacity: 100%;
    }

    .navFooter hr {
        opacity: 50%;
    }

    .userProfile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 100%;
    }
    
    .userImg {
        height: 20px;
        width: 20px;
        padding: 7px;
        margin-right: 10px;
        background-color: rgb(128, 128, 128);
        border-radius: 50px;
    }

    .userID {
        line-height: 20px;
    }

/* FOOTER */
footer {
    height: var(--footerHeight);
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

    /* SONG DESCRIPTION */
    
    .songDescription {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 25%;
        gap: 8px;
    }

    .songCover {
        max-width: 50px;
        max-height: 50px;
        margin-left: 5px;
    }

    .songCover img {
        max-width: 50px;
        width: 100%;
    }

    .songTitle h3 {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .heartFolder {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    

    /* MUSIC PLAYER CONTROLS */
    .playerControls {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: 10px;
    }

    .playerControls .Controls {
        width: 80%;
        max-width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* SLIDERS MUSIC & VOLUME */
    .timeControls.timeScore {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 1000px;
    }

    .audioControls {
        width:25%;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 5%;
    }

    .volume {
        max-width: 100px;
        margin-right: 5px;
    }
    
    .progressBar {
        background-color:  rgb(75, 75, 75);
        border-radius: 50px;
        width: 100%;
        height: 8px;
    }

    .progressScore {
        border: 4px solid rgb(160, 160, 160);
        width: 30%;
        border-radius: 50px;
        position: relative;
    }

    .progressBar:hover .progressScore{
        border-color: var(--activeBorderColor);
    } 

    .progressBar:hover .scoreDot {
        position: absolute;
        background-color: white;
        width: 16px;
        height: 16px;
        right: -8px;
        top: -8px;
        border-radius: 50%;
    }

