/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

html {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

/* FONTS */

h2 {
	font-size: 1.3rem;
}

h3 {
	margin: 8px 0;
	font-size: 0.8rem;
	font-weight: 400;

}

h4 {
	font-size: 0.6rem;
	font-weight: lighter;
	margin: 2px 0 ;
}

/* ICONS */
footer .fa-circle-play {
	font-size: 1.5rem;
}

footer .fa-circle-play:hover {
	transform: scale(1.2);
}

footer .fa-solid {
	font-size: small;
}

.heartFolder i {
	opacity: 50%;
}

.heartFolder i:hover {
	opacity: 100%;
}