/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

/* SM QUERY */
@media screen and (max-width: 650px) {
	:root {
		--navBarWidth: 50px
	}
}